@model ApplicationCore.Models.MovieDetailsResponseModel

@{
    ViewData["Title"] = "Movie Details";
}


<div class="container">
    <div class="bg-image mb-5" style="background-image: url(@Model.BackdropUrl); height: 400px;">
        <div class="row  mask" style="background-color: rgba(0, 0, 0, 0.8); height: 100%; margin:0">

            <div class="col-5">
                <img class="float-right mt-3" src="@Model.PosterUrl" style="max-height: 70%" />
            </div>

            <div class="col-5">

                <h3 class="text-white mt-2">@Model.Title</h3>
                <small class="text-muted"> @Model.Tagline </small>

                <div class="row">
                    <div class="col-4 text-secondary font-weight-bold mt-1">
                        @Model.RunTime m | @Model.ReleaseDate.Value.Date.Year
                    </div>
                    <div class="col">
                        @foreach (var genre in Model.Genres)
                        {
                            <span class="badge badge-pill badge-secondary">@genre.Name</span>
                        }
                    </div>
                </div>
                <div class="mt-2 mb-2">
                    <span class="badge badge-success"> @Model.Rating?.ToString("0.00")</span>
                </div>

                <small class="text-white">@Model.Overview</small>


            </div>
            <div class="col-2">
                <div class="mt-5">
                    <a type="button" class="btn btn-outline-light btn-lg btn-block btn-sm" asp-controller="Movies" asp-action="Reviews" asp-route-id="@Model.Id ">REVIEW</a>
                    <form asp-controller="User" asp-action="Purchase" asp-route-id="@Model.Id" method="post">
                        <button>BUY $@Model.Price</button>
                    </form>
                    @*<form asp-controller="User" asp-action="Review" method="post">
            <button>Write A Review</button>
        </form>*@
                    @*<a type="button" class="btn btn-light btn-lg btn-block btn-sm" asp-controller="User" asp-action="Purchase" asp-route-id="@Model.Id">BUY $@Model.Price</a>*@

                    @*<a type="button" class="btn btn-light btn-lg btn-block btn-sm" asp-controller="User" asp-action="Review" asp-route-id="@Model.Id">Write A Review</a>*@
                    <a asp-controller="User" asp-action="Review" class="btn btn-outline-primary mr-3">Write A Review</a>
                    <form asp-controller="User" asp-action="AddFavorite" method="post">
                        <button>Favorite</button>
                        @*<label asp-for="@Model.Id"></label>*@
                    </form>
                </div>



            </div>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-5 bg-light rounded-lg">
            <h4>MOVIE FACTS</h4>
            <hr>

            <div class="ml-0 mr-0">
                <ul class="list-group list-group-flush m-0" style="opacity:1">
                    <li class="list-group-item bg-transparent"><i class='far fa-calendar-alt  mr-2'></i>  Release Date <span class="badge badge-pill badge-dark">@Model.ReleaseDate.Value.ToShortDateString()</span></li>
                    <li class="list-group-item bg-transparent"><i class="fas fa-hourglass  mr-2"></i>  Run Time <span class="badge badge-pill badge-dark">@Model.RunTime.Value m</span></li>
                    <li class="list-group-item bg-transparent"><i class="far fa-money-bill-alt  mr-2"></i>  Box Office <span class="badge badge-pill badge-dark">@Model.Revenue?.ToString("C0")</span></li>
                    <li class="list-group-item bg-transparent"><i class="fas fa-dollar-sign  mr-2"></i>  Budget <span class="badge badge-pill badge-dark">@Model.Budget?.ToString("C0")</span></li>
                    <li class="list-group-item bg-transparent">
                        <a class=" mr-3" href="@Model.ImdbUrl" target="_blank" style="text-decoration: none; color:inherit;"><i class="fab fa-imdb"></i></a>
                        <a href="#" style="text-decoration: none; color:inherit;"><i class="fas fa-share-square"></i></a>
                    </li>
                </ul>

            </div>

            <div class="ml-0 mr-0 mt-2">
                <h4>Trailers</h4>
                <hr>
                <ul class="list-group ">
                    @foreach (var trailer in Model?.Trailers)
                    {
                        <li class="list-group-item bg-transparent" style="border:0">
                            <a href="@trailer.TrailerUrl" style="text-decoration: none; color:inherit; "><i class="fab fa-youtube"></i>  @trailer.Name</a>
                        </li>
                    }
                </ul>

            </div>
        </div>
        <div class="col-6">

            <div class="ml-5">
                <div class="row border-bottom">
                    <h4>CAST</h4>
                </div>
                @foreach (var cast in Model.Casts)
                {
                    <div class="row border-bottom">
                        <div class="col ml-3">
                            <img class="img-responsive img-thumbnail rounded-sm rounded-circle border-0" stype="height: 50%" src=@cast.ProfilePath />
                        </div>
                        <div class="col-5 mt-3">
                            @cast.Name
                        </div>
                        <div class="col-5 mt-3">
                            @cast.Character
                        </div>
                    </div>

                }


            </div>
        </div>
    </div>
</div>









